<header>
  <div class="pizza_picture">
  <div class="hero-image pizza">
    <div class="hero-text">
      <h1 style="font-size:60px"><%= t('home.title') %></h1>
      <p style="font-style:italic; font-size: 20px"><%= t('home.text_picture') %> </p>
      <button><%= link_to t('banner.button'), delivery_url%></button>
    </div>
  </div>
  </div>
</header>
