
<style media="screen">

  .background{
    background-color: #222;
  }
  .row{
    background-color: #D9D9D9;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Times New Roman', 'Times', serif;
    font-size: 15px;
    text-align: left;

  }

  .column{
    width: 33%;
    padding: 3px;
    float: left;
  }
</style>


<div class="background">
  <div class="row">
    <div class="column">
      <%= image_tag("oldschoolpub_logo") %>
    </div>

    <div class="column ">
      <h2 style="text-align: center">About</h2>
      <p><%= t('footer.text') %></p>
    </div>

    <div class="column ">
      <h2 style="text-align: center">Navigation</h2>
      <table>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="menu">Menu</a></li>
          <li><a href="delivery">Delivery</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
      </table>
    </div>
  <br>
  </div>
</div>
