<div class="pizza_picture">
<div class="hero-image pizza">
  <div class="hero-text">
    <h1 style="font-size:60px"><%= t('home.title') %></h1>
    <p style="font-style:italic; font-size: 20px"><%= t('home.text_picture') %> </p>
    <button><%= t('home.text_button') %></button>
  </div>
</div>
</div>
