<body class="background">
  <div class="structure">
    <h1><%= t('order.newOrder.title') %></h1>
    <p><%= t('delivery.text') %></p>
    <%= render 'form', order: @order %>

    <%= link_to 'Back', "delivery" %>
  </div>
</body>
