/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font: 'Times New Roman', 'Times', serif;
$color: #FFFFFF;


//*****************************************************************************
//*******************************NAV BAR****************************************
.header_nav{
  font-size: 13px;
}

.navbar{
  padding: 7px;
}
//*****************************************************************************
//*******************************BANNER*****************************************
.pizza_picture {
  height: 100%;
  margin: 0;
  font-family: $font;
}

.hero-image {
  background-image: url("pizza.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  padding: 5%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  // transform: translateY(-50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

//*****************************************************************************
//*******************************FOOTER*****************************************
.row{
  font-family: $font;
}
