// Place all the styles related to the delivery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td{
  width: 15%;
}
td.picture{
  width: 35%;
}
td.name{
  width: 10%;
}
