// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// The background, structure and image css is in application.scss since we are
// using it for both cart and menu view.

// tr{
//   padding-bottom: 15px;
// }
td{
   width: 20%;
 }
td.picture{
  width: 30%;
}
// td.name{
//   width: 20%;
// }

.description{
  width: 20%;
  padding: 20px;
}
.press{
  width: 10%;
}

form label, form input, form label {
  display: block;
  margin: 10px;
  font-size: 16px;
}

div.new{
  display: block;
  margin: 10px;
}
